
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$highlight: lighten(#4183C4, 40%);

// Grays
$black: #000;
$darker-gray: #222;
$dark-gray: #333;
$gray: #666;
$grayish: #ccc;
$light-gray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
