<h3 id="about-wapro">ABOUT WAPRO</h3>

<p>The Long Beach Web &amp; App Professionals (#WAPRO) group meets monthly to share and learn about the technology that ignites our imagination, builds our skill-set, expands our network, and grows community!</p>
<aside>
{% include boilerplate/meeting_topics.html %}
</aside>
<p>Every month we come together to:</p>

<ul>
  <li>Demo technologies we use, especially those driving the convergence of websites and mobile apps</li>
  <li>Showcase our projects built with cool tech</li>
  <li>Share industry “best practices”</li>
  <li>Newcomer Q&amp;A’s</li>
  <li>Network, get to know each other, and otherwise have fun</li>
</ul>

<p>We have a preference for open-source software, especially server-side. This year we have meetups focused on the life-cycle and technologies related to website and application development. We will especially try to delve into situations where mobile and web technologies converge. The meeting topics we cover will vary monthly and will be tailored to, and by, our community. Want to see something in particual? Let us know by tweeting using the hash #WAPRO.</p>

<p>If you have interest or work in Web or Application Development, add our meetup to your calendar now and join us! Our meetups are FREE and open to <a href="https://github.com/uncodedlb/uncoded-policies">EVERYONE</a>.</p>
