<h2 id="venue--meetup-info">VENUE & MEETUP INFO</h2>

<img src="{{ site.baseurl }}/images/WE_Labs2.jpeg" alt="WE Labs Office">
<p>
<div class="event-date" property="startDate" content="{{ page.meeting_start | time_tag }}">
<strong>DATE:</strong>  {{ page.meeting_start | date: '%B %d, %Y — %A' }}<br>
<div class="event-time"><strong>START TIME:</strong> {{ page.meeting_start | date: "%-I:%M %P" }}</div><br>
<strong>LOCATION:</strong></p>
<div class="event-venue" property="location" typeof="Place">
  <img class="logo" src="/images/logos/WEL_Logo_Draft_v201.jpg" alt="WE Labs Co-working" style="width:120px;height:auto;max-height:inherit;float:left;padding-right:20px;"><br>
  <span property="name">Work Evolution Laboratories</span></a><br>
  <div class="address" property="address" typeof="PostalAddress">
    <span property="streetAddress">235 E. Broadway, 8th Floor</span><br>
    <span property="addressLocality">Long Beach</span>,
    <span property="addressRegion">CA</span>
    <span property="postalCode">90802</span><br>
    <a href="https://www.google.com/maps/place/235+E+Broadway,+Long+Beach,+CA+90802/@33.7695439,-118.1919345,17z/" target="_blank">Map</a><br>
  </div>
</div>
</p>

<strong>PARKING:</strong><br>
<strong>FREE:</strong> Street parking east of Long Beach Blvd after 6p.  <a href="http://www.downtownlongbeach.org/parking" target="_blank">Metered until 6p</a>.  WE Labs is on the corner.<br>
<strong>CHEAP:</strong> <a href="https://www.google.com/maps/d/viewer?mid=z-je1exzTCd4.koH8EDyrfmPg&msa=0&ie=UTF8&t=m&ll=33.76923,-118.189459&spn=0.01427,0.038581&z=15">The Cityplace Lot C #6</a> ... 2hrs FREE then hourly<br>
