
<h2 id="venue--meetup-info">VENUE & MEETUP INFO</h2>
<img src="/images/GunnJerkins-Offices.jpg" alt="GunnJerkins Offices">

<p><div class="event-date" property="startDate" content="{{ page.meeting_start | time_tag }}">
   <strong>DATE:</strong>  {{ page.meeting_start | date: '%B %d, %Y — %A' }}<br>
<div class="event-time"><strong>START TIME:</strong> {{ page.meeting_start | date: "%-I:%M %P" }}</div><br>
<strong>LOCATION:</strong></p>

<div class="event-venue" property="location" typeof="Place">
  <img class="logo" src="/images/logos/gj.jpg" alt="Gunn|Jerkens"><br>
  <span property="name">Gunn Jerkens Marketing Communications</span></a><br>
  <div class="address" property="address" typeof="PostalAddress">
    <span property="streetAddress">3950 Cover Street</span><br>
    <span property="addressLocality">Long Beach</span>,
    <span property="addressRegion">CA</span>
    <span property="postalCode">90808</span>
  </div>
</div>

<p><strong>MAP LINK:</strong> <a href="https://j.mp/wapro-gj">Map</a><br>
<strong>Directions from 405 FWY at Lakewood:</strong> <a href="https://j.mp/wapro-gj">Directions</a><br>
<strong>Instructions:</strong>  Gunn-Jerkins building is on the South-East corner of Cover + Schaufele. Enter driveway on Shaufele (just South of Cover), then first building on left at the SE corner of the building. If you have any trouble finding the office, please call: 562-499-6707.</p>
